

/*HOME DIV*/
.home-div{
    background-image: url(img/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 0 40px;
}
.home-div img{
    max-width: 650px;
    height: auto;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-2rem);
    }
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    padding-left: 120px;
    padding-right: 50px;
}

.home-div h1{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 40px;
    color: black;
    text-align: left;

}

.home-div p{
    font-family: 'Poppins', sans-serif;
    color: #141414;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

.home-link{
    margin-top: 10px;
}

.home-div a{
    background-color: var(--color);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    letter-spacing: 3px;
    padding: 15px 20px;
    border-radius: 5px;
}

.home-div a:hover{
    background-color: #5c56b8;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*HOME DIV END*/

/**EXPLAIN DIV START**/
.explain-div{
    padding: 20px 10px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.explain-div h4{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.explain-div p{
    color: var(--heavy-smoke);
}
.shipping, .return, .support{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding: 0 50px;
}

.shipping-icon, .return-icon, .support-icon{
    margin-right: 20px;
    color: var(--color);
    font-size: 40px;
}
/**EXPLAIN DIV END**/

/**COLLECTIONS DIV START**/
.collection-div{
    width: 100%;
    min-height: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.collection-text{
    position: relative;
    z-index: 66;
}

.collection-div p{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
}

.collection-div h6{
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.women, .men, .child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
    padding-left: 20px;
}
.women{
    background-image: url(img/women.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 400px;
    height: 500px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.men{
    background-image: url(img/men.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 400px;
    height: 500px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.child{
    background-image: url(img/children.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 400px;
    height: 500px;
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.women:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    background: linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    z-index: 2;
}

.men:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    background: linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    z-index: 2;
}

.child:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    background: linear-gradient(to top, #141414, rgba(20, 20, 20, 0));
    z-index: 2;
}

.women:hover, .men:hover, .child:hover{
    background-size: 110%;
}
/**COLLECTIONS DIV END**/


/**PRODUCTS DIV START**/
.product-section{
    background-color: #f5fbfc;
}

.product-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 80px;
}

.product-hr{
    width: 50px;
    height: 2px;
    background-color: var(--color);
}

.product-head{
    padding: 20px 0;
}

.product-div h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

.product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    width: 340px;
    height: 400px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 340px;
    height: auto;
}

.card-img-top {
    border-top-left-radius: none !important; border-top-right-radius: none !important;
}

.product-text{
 padding: 10px 20px;
}

.product h5{
    text-align: center;
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
}

.product p{
    text-align: center;
    color: var(--heavy-smoke);
    font-family: 'Montserrat', sans-serif;
}

.product h6{
    text-align: center;
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
}

/**PRODUCTS DIV END**/



/**SALES DIV START**/

.sale-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 80px;
}

.sale-hr{
    width: 50px;
    height: 2px;
    background-color: var(--color);
}

.sale-head{
    padding: 20px 0;
}

.sale-div h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

.sale-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 10px 70px;
}

.sale-content img{
    max-width: 700px;
    height: auto;
    transition: all 0.5s ease;
}
.sale-text{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.sale-text h5{
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.sale-text h6{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.sale-text p{
    color: var(--heavy-smoke);
    font-family: 'Poppins', sans-serif;
}

.sale-text span{
    color: var(--color);
}

.sale-text > div{
    padding-bottom: 15px;
}

.sale-text a{
    background-color: var(--color);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    letter-spacing: 3px;
    padding: 15px 20px;
    border-radius: 5px;
}

.sale-text a:hover{
    background-color: #5c56b8;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/**SALES DIV END**/












/* Media Quieries */

  /** For smaller mobile devices  less than 767px **/
  @media (max-width: 767px){
    .header-div{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
  
    }

    .icons-head {
        margin-top: 20px;
    }


    .search-head{
        display: none;
    }
  
    .small-search{
        opacity: 1 !important;
    }




/**HOME DIV START**/
    .home-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 0 40px;
    }

    .home-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    .home-div h1{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 40px;
        color: black;
        text-align: center;
        transition: all 0.5s ease;
    
    }

    .home-div p{
        text-align: center;
        transition: all 0.5s ease;
    
    }

    .home-div img{
        max-width: 90%;
        height: auto;
    }
    
/**HOME DIV END**/

/**EXPLAIN DIV START**/
.explain-div{
    padding: 20px 10px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 130px;
}

.explain-div h4{
    text-align: center;
}

.explain-div p{
    text-align: center;
}

.shipping, .return, .support{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 70px;
}
/**EXPLAIN DIV END**/

/**COLLECTION DIV START**/
.collection-div{
    width: 100%;
    min-height: 500px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.men, .child{
    margin-top: 30px;
}
/**COLLECTION DIV END**/

/**PRODUCT DIV START**/
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    margin-top: 20px;
}

/**PRODUCT DIV END**/

/**SALES DIV START**/
.sale-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 10px 70px;
}
      
.sale-content img{
    max-width:300px;
    height: auto;
}


.sale-text{
    padding-top: 50px;
    padding-left: 0;

}

.sale-text h5{
    text-align: center;
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.sale-text h6{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
}

.sale-text p{
    text-align: center;
    color: var(--heavy-smoke);
    font-family: 'Poppins', sans-serif;
}

/**SALE DIV END**/



}


  /** For less than tablet devices more than 0px and less than 575px **/
  @media only screen and (min-width: 767px) and (max-width: 1129px){

    .product-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .product{
        margin-right: 20px;
    }

  }


   /* For Medium devices tablets more than 767px and less than 991px */
   @media only screen and  (min-width: 760px) and (max-width: 1129px) { 


/*HOME DIV START*/
    .home-div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 0 40px;
        height: 800px;
    }

    .home-text{
        align-items: center;
    }

    .home-div h1{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 40px;
        color: black;
        text-align: center;
        transition: all 0.5s ease;
    
    }

    .home-div p{
        text-align: center;
        transition: all 0.5s ease;
    
    }

    .home-div img{
        max-width: 100%;
        height: auto;
        margin-left: 50px;
    }
    
/*HOME DIV END*/

/**EXPLAIN DIV START**/
.explain-div p{
    font-size: 16px;
}
/**EXPLAIN DIV END**/

/**COLLECTION DIV START**/
.collection-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

.women, .men, .child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-end;
    padding-left: 20px;
    min-width: 250px;
    height: 330px;
}

.collection-div h6{
    font-size: 30px;
}

.collection-div p{
    font-size: 10px;
}


/**COLLECTION DIV END**/


/**PRODUCT DIV START**/
.product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    margin-right: 20px;
    max-width: 240px;
    height: 360px;
}

.product img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 240px;
    height: auto;
}

/**PRODUCT DIV END**/

/**SALE DIV START**/

.sale-content img{
    max-width: 500px;
    height: auto;
}
.sale-content{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sale-text{
    margin-top: 30px;
}

.sale-text h5{
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}


.sale-text h6{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.sale-text p{
    color: var(--heavy-smoke);
    font-family: 'Poppins', sans-serif;
}

/**SALE DIV END**/



}

  /* Large devices (desktops, less than 1200px) */
  @media only screen and (min-width: 991.98px) and (max-width: 1300px) { 

}

