/**DARK MODE START**/
body{
    box-sizing: border-box;
    background-color: #fff !important;
    color: #141414;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
  }

.dark-mode{
    background-color: #1a1a1a !important;
    color: white !important;

    transition: all 0.3s ease-in-out;
  }

  .dark-mode .product-section{
    background-color: #202020 !important;
}


  /**DARK MODE END**/

/**PRODUCTS DIV START**/
.product-section{
    background-color: #f5fbfc !important;
}

.product-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 80px;
}

.product-hr{
    width: 50px;
    height: 2px;
    background-color: var(--color);
}

.product-head{
    padding: 20px 0;
}

.product-div h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

.product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    width: 340px;
    height: 400px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 340px;
    height: auto;
}

.card-img-top {
    border-top-left-radius: none !important; border-top-right-radius: none !important;
}

.product-text{
 padding: 10px 20px;
}

.product h5{
    text-align: center;
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
}

.product p{
    text-align: center;
    color: var(--heavy-smoke);
    font-family: 'Montserrat', sans-serif;
}

.product h6{
    text-align: center;
    color: var(--color);
    font-family: 'Montserrat', sans-serif;
}

/**PRODUCTS DIV END**/




/**TANK DIV START**/
.tank-div{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}

.tank-div img{
    width: 100%;
    transition: all 0.5s ease;
}


.tank-div h3{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
    font-weight: bold;
    
}

.tank-div p{
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
    color: var(--heavy-smoke);
    text-align: left;
}

.tank-div span{
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
    color: var(--color);
    font-size: 30px;
}

.tank-text{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}

.tank-box{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.radio{
    padding-right: 30px;
    transition: all 0.5s ease;
}

.radio input:checked{
    background-color: var(--color);
    transition: all 0.5s ease;
}

.tank-numb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 20px;
    text-align: center;
    color: #1d1d1d;
    font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    width: 120px;
    height: 50px;
    padding-top: 20px;
}

.quantity{
    background-color: transparent !important;
}

.input-div{
    background-color: transparent;
    width: 70px;
    height: 50px;
    border-bottom: 1px solid #919191;
    border-top: 1px solid #919191;
}


.number-input button {
  outline:none;
  -webkit-appearance: none;
  border: 1px solid #7971ea;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  position: relative;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #7971ea;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  content: '';
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
    width: 50px;
    height: 45px;
    outline: none;
    border:none;
    text-align: center
}

.minus{
    border: none;
    width: 50px;
    height: 50px;
    border: 1px solid #7971ea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    color: #7971ea;
}

.minus:hover{
    background-color: #7971ea;
    color: #f1f1f1;
    transition: all 0.5s ease;
}


.plus{
    border: none;
    width: 50px;
    height: 50px;
    border: 1px solid #7971ea;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    color: #7971ea;
}

.plus:hover{
    background-color: #7971ea;
    color: #f1f1f1;
    transition: all 0.5s ease;
}


.tank-btn{
    padding-top: 80px;
}

.tank-btn a{
    background-color: var(--color);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    letter-spacing: 3px;
    padding: 15px 20px;
    border-radius: 5px;
}

.tank-btn a:hover{
    background-color: #5c56b8;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/**TANK DIV END**/






/* Media Quieries */

  /** For smaller mobile devices  less than 767px **/
  @media (max-width: 767px){
    .header-div{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
  
    }

    .icons-head {
        margin-top: 20px;
    }


    .search-head{
        display: none;
    }
  
    .small-search{
        opacity: 1 !important;
    }

    .sign-div p{
        text-align: center;
        padding: 20px 0 20px 0;
    }

    /**PRODUCT DIV START**/
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    margin-top: 20px;
}

/**PRODUCT DIV END**/


/**TANK DIV START**/

.tank-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.tank-img{
    max-width: 100%;

}


.tank-text{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 40px;
}

.tank-div h3{
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tank-div p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/**TANK DIV START**/

.signup-div{
    width: 100%;
    right: 15px;
}

.getstart-btn{
    bottom: 10px;
    right: 20px;
}

}



  /** For less than tablet devices more than 0px and less than 575px **/
  @media only screen and (min-width: 767px) and (max-width: 1129px){

    .product-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .product{
        margin-right: 20px;
    }

    .signup-div{
        width: 100% !important;
    }

  }


     /* For Medium devices tablets more than 767px and less than 991px */
     @media only screen and  (min-width: 760px) and (max-width: 1129px) { 
      /**PRODUCT DIV START**/
.product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product{
    margin-right: 20px;
    max-width: 240px;
    height: 360px;
}

.product img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 240px;
    height: auto;
}

/**PRODUCT DIV END**/


/**TANK DIV START**/
.tank-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.tank-img{
    max-width: 50%;

}

.tank-text{
    max-width: 50%;
}

.tank-div h3{
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tank-div p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/**TANK DIV END**/

.signup-div{
    width: 60%;
}

     }



         /* For Medium devices tablets more than 991px and less than 991px  between 991px:1130px */
    @media only screen and  (min-width: 991px) and (max-width: 1130px) { 
     

        /**MAIN ABOUT DIV START**/
        .tank-div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            align-items: flex-start;
        }
       

        .tank-img{
            max-width: 100%;
        
        }
        
        .tank-text{
            max-width: 100%;
            padding-top: 50px;
        }

            /** MAIN ABOUT DIV END**/
        .signup-div{
            width: 60%;
        }


    }




/** GET STARTED BUTTON START**/

.signup-div{
    position: fixed;
    z-index: 10999;
    width: 60%;
    height: auto;
    bottom: 180px;
}

.signup-form{
    position: fixed !important;
    background-color: var(--white);
    padding: 20px;
    padding-top: 30px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    display: none;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  


.signup-form label{
    color: black !important;
}

form h3{
    padding-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--color);
    text-transform: uppercase;
    padding-left: 10px;
    transition: all 0.5s ease;
}


form input[type="email"]{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px 10px;
    text-indent: 10px;
}

form input[type="email"]:focus{
    text-indent: 2px;
    transition: all 0.5s ease;
}

form input[type="text"]{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px 10px;
}

form input[type="text"]:focus{
    text-indent: 10px;
    transition: all 0.5s ease;
    border: none !important;
    outline: none !important;
}

form input[type="password"]{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px 10px;
    outline: none !important;
}

form input[type="password"]:focus{
    text-indent: 10px;
    transition: all 0.5s ease;
    border: none !important;
    outline: none !important;
}

.sign-btn{
    text-transform: uppercase !important;
    color: rgb(255, 248, 236) !important;
    background-color: var(--color) !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif !important; 
    letter-spacing: 2px !important;
    border: none !important;
    box-shadow: none !important;
}

.sign-btn:hover{
    transition: all 0.5s ease !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.cancel-btn{
    border: 1px solid var(--color) !important;
    background-color: transparent !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-family: 'Popins', sans-serif !important;
    font-size: 15px !important;
    color: var(--color) !important;
    padding: 10px 20px !important;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: none !important;
}

.cancel-btn:hover{
    transition: all 0.5s ease-in !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
    background-color: var(--color) !important;
    border: none !important;
    color: white !important;
}

.getstart-btn{
    position: fixed;
    z-index: 888;
    bottom: 40px;
    right: 50px;
    display: block;
}

.getstart-btn button{
    outline: none;
    border: none;
    text-transform: uppercase;
    color: rgb(255, 248, 236);
    background-color: var(--color);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 2px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.getstart-btn button:hover{
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.social-btn{
    background-color: var(--color) !important;
    border: none !important;
}

/** GET STARTED BUTTON END**/
